* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  height: 100vh;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.heading {
  font-size: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 50px wheat;
}

.card {
  padding: 1%;
  height: 86vh;
  width: 45vw;
  display: flex;
  position: relative;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
}

.display {
  width: 80%;
  height: 90px;
  margin: 15px;
  padding: 15px;
  font-size: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.row {
  height: 45px;
  width: 100%;
  margin-top: 8px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(205, 247, 228);
  text-shadow: 2px 2px 4px #000000;
}

.left,.right {
  margin: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
}

.generate-btn {
  height: 50px;
  width: 50%;
  margin: 15px;
  padding: 1%;
  font-size: 25px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  padding-top: 10px;
  background-color: #27ae60;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.check-box {
  margin-left: 50%;
  height: 25px;
  width: 25px;
}

.owner {
  display: flex;
  position: sticky;
  bottom: 0;
  font-weight: bold;
  font-size: large;
}

.custimize {
  width: 90%;
  height: 50vh;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}